section.car#car
  .content
    h2 Driving Lessons
    .car__service.car__service--auto
      .car__car
        picture(title='Learn to drive a car with automatic transmission')
          source(media='(min-width: 760px)', 
                srcset='./images/photos/automatic-transmission-hyundai-l.jpg', 
                alt='Driving car with automatic gearbox')
          source(srcset='./images/photos/automatic-transmission-hyundai-s.jpg', 
                alt='Driving car with automatic gearbox')
          img(src='./images/photos/automatic-transmission-hyundai-l.jpg', 
                alt='Driving car with automatic gearbox')

      article.car__info
        h3.sub-heading Automatic Transmission
        ul
          li
            i.icon-cars
            strong Hyundai ix20
          li
            i.icon-fuel
            span petrol 1.6 l
          li
            i.icon-doors
            span 5 door
          li
            i.icon-calendar
            span 2014
          li
            i
            a(href="/prices").button.button__cta See Prices

    //- .car__service.car__service--manual
    //-   .car__car
    //-     picture(title='Learn to drive a car with manual transmission')
    //-       source(media='(min-width: 760px)', 
    //-             srcset='./images/photos/manual-transmission-C1-l.jpg', 
    //-             alt='Driving car with manual gearbox')
    //-       source(srcset='./images/photos/manual-transmission-C1-s.jpg',
    //-             alt='Driving car with manual gearbox')
    //-       img(src='./images/photos/manual-transmission-C1-l.jpg', 
    //-             alt='Driving car with manual gearbox')
    //-   article.car__info
    //-     h3.sub-heading
    //-       span.color-primary Manual
    //-       span.color-secondary Transmission
    //-     ul
    //-       li
    //-         i.icon-cars
    //-         strong Citroen C1
    //-       li
    //-         i.icon-fuel
    //-         span petrol 1.0 l
    //-       li
    //-         i.icon-doors
    //-         span 3 door
    //-       li
    //-         i.icon-calendar
    //-         span 2015
    //-       li
    //-         i
    //-         a(href="/prices").button.button__cta See Prices
      