section.services#services
  .content
    h2 Driving School Offer
  .content
    article.services__info
      h3.sub-heading Services
      ul
        li
          i.icon-new
          span Beginner Driving Lessons
        li
          i.icon-intense
          span Intensive Courses
        li
          i.icon-refresh
          span Refresher Lessons
        li
          i.icon-motorway
          span Motorway Driving

    article.services__info
      h3.sub-heading Special Offers
      ul
        li
          i.icon-student
          span Student Discounts
        li
          i.icon-block
          span Block Bookings
        li
          i.icon-referal
          span Referal Discount
          
