section.services#services
  //- - const heading1 = 'Driving School Offer'.split(' ').length > 1 ? 'Driving School Offer'.split(' ').map(word => `<span style="display: inline;">${word}</span>`).join('') : 'Driving School Offer';
  .content
    h2 Driving School Offer
    //- h2: != heading1
  .content
    article.services__info
      h3.sub-heading Driving School
      ul
        li
          i.fas.fa-plus-circle
          span Beginner Driving Lessons
        li
          i.fab.fa-nintendo-switch
          span Intensive Courses
        li
          i.fas.fa-redo
          span Refresher Lessons
        li
          i.fas.fa-road
          span Motorway Driving

    article.services__info
      h3.sub-heading Special Offers
      ul
        li
          i.fas.fa-user-graduate
          span Student Discounts
        li
          i.fas.fa-layer-group
          span Block Bookings
        li
          i.fas.fa-user-friends
          span Referal Discount
          
