extends layout

include mixins/_sectionForm
include mixins/_editStudent

block content

  section.account#account
    .content
      h4 Display / Hide sections
      div.account__forms
        if h.accountForms.length > 0
          each accountForm in h.accountForms
            +sectionForm(accountForm)
              //- span.account__status.account__status--active

      h4 Add / Edit New Student
      div.account__forms
        //- pre= h.dump(h.instructors)
        +editStudent()

