extends layout

block SEO
  meta(name='Description', content='Stay in touch with Premium Effect Driving School by email or phone. ')

block title
  title Contact Us | Premium Effect Driving School

block content
  section.contact#contact
    .content
      h2 Contact Details
      .contact__details
        article.contact__detail
          header
            i.icon-address
            h3.sub-heading Address
          p Leyland and surrounding areas
            
        article.contact__detail
          header
            i.icon-phone
            h3.sub-heading Phone
          each number in site.phone
            p #{number} #[br]

        article.contact__detail
          header
            i.icon-email
            h3.sub-heading Email
          p #{site.email}

      iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d151148.72061211246!2d-2.6783351!3d53.7058134!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xef2ed7a63bca6538!2sPremium%20Effect%20Driving%20School!5e0!3m2!1spl!2spl!4v1598987101728!5m2!1spl!2spl', frameborder='0', style='border:0', allowfullscreen='')
