extends layout

block SEO
  meta(name='Description', content='Stay in touch with Premium Effect Driving School by email or phone. ')

block title
  title Contact Us | Premium Effect Driving School

block content
  section.contact#contact
    .content
      h2 Contact Details
      .contact__details
        article.contact__detail
          header
            i.icon-address
            h3.sub-heading Address
          p Leyland and surrounding areas
            
        article.contact__detail
          header
            i.icon-phone
            h3.sub-heading Phone
          each number in site.phone
            p #{number} #[br]

        article.contact__detail
          header
            i.icon-email
            h3.sub-heading Email
          p #{site.email}

      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d473856.6809277386!2d-2.604328807029039!3d53.830821700081586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a4d4c5226f5db%3A0xb5497dd10c461b65!2sLancashire%2C%20Wielka%20Brytania!5e0!3m2!1spl!2spl!4v1598776979983!5m2!1spl!2spl', frameborder='0', style='border:0', allowfullscreen='')