extends layout

block SEO
  meta(name='Description', content=`${site.address.city} based driving school. Take your driving lessons and learn to drive manual or automatic transmission car. Get ready for your theory and practical tests.`)

block title
  title Premium Effect Driving School. Book your lesson now!

block content

  include sections/car.pug 

  include sections/services.pug 

  include sections/lessons.pug

  include sections/testimonials.pug
