extends layout

block SEO
  meta(name='Description', content='Useful links for drivers. Find out where you can book your theory or practical test, apply for Provisional Licence and many more.')

block title
  title Useful Links for new and experienced drivers

block content
  
  section.links#links
    .content
      h2 Useful Links
      article.links__info
        h3.sub-heading Learn To Drive a Car
        p Everything what you need to know and what you need to do to learn to drive – step by step.
        p
          i.icon-link
          a(href="https://www.gov.uk/learn-to-drive-a-car", target="_blank") https://www.gov.uk/learn-to-drive-a-car

      article.links__info
        h3.sub-heading Provisional License Application
        p Apply for your provisional License online here.
        p
          i.icon-link
          a(href="https://www.gov.uk/apply-first-provisional-driving-licence", target="_blank") https://www.gov.uk/apply-first-provisional-driving-licence
              
      article.links__info
        h3.sub-heading Book a Test
        p Use this link to book your theory or practical test online.
        p
          i.icon-link
          a(href="https://www.gov.uk/book-theory-test", target="_blank") https://www.gov.uk/book-theory-test
        p
          i.icon-link
          a(href="https://www.gov.uk/book-driving-test", target="_blank") https://www.gov.uk/book-driving-test

      article.links__info
        h3.sub-heading 'Show me, tell me' questions: car driving test.
        p Vehicle safety questions, The examiner will ask you 2 vehicle safety questions during your driving test.
        p
          i.icon-link
          a(href="https://www.gov.uk/government/publications/car-show-me-tell-me-vehicle-safety-questions", target="_blank") https://www.gov.uk/government/publications/car-show-me-tell-me-vehicle-safety-questions

      article.links__info
        h3.sub-heading Safe Driving for Life.
        p Great resource setup by the DSA with lots of useful information.
        p
          i.icon-link
          a(href="https://www.safedrivingforlife.info", target="_blank") https://www.safedrivingforlife.info

      article.links__info
        h3.sub-heading The Highway Code.
        p The Highway Code is essential reading for everyone.
        p
          i.icon-link
          a(href="https://www.gov.uk/guidance/the-highway-code", target="_blank") https://www.gov.uk/guidance/the-highway-code
