extends layout

include mixins/_pricingInfo

block SEO
  meta(name='Description', content='Choose what suits you best. Premium Effect Driving School offers a variety of courses for drivers at a competitive price. Don\'t wait and book your lesson now!')

block title
  title Premium Effect Driving School Services and Pricing

block content

  section.pricing#pricing
    .content
      h2 Our Prices
      if (!pricing.offer)
        p Something went wrong. Please go to Contact section
        a(href="/contact").button.button__cta Contact
      else
        .pricing__info
          ul.pricing__row
            li.pricing__col.pricing__col--1.pricing__header
            //- li.pricing__col.pricing__col--2.pricing__header: p Manual
            li.pricing__col.pricing__col--3.pricing__header: p Automatic
        each info in pricing.offer
          +pricingInfo(info)
