extends layout

include mixins/_registerForm


block SEO
  meta(name='Register', content='Register and stay in touch with Premium Effect Driving School.')

block title
  title Contact Us | Premium Effect Driving School

block messages
  if locals.flashes
    .flash-messages
      - const categories = Object.keys(locals.flashes)
      each category in categories
        each message in flashes[category]
          .flash(class=`flash--${category}`)
            p.flash__text!= message
            button.flash__remove(onClick="this.parentElement.remove()") &times;

block content
  section.login#login
    .content
      +registerForm()
