extends layout

block SEO
  meta(name='Description', content='Premium Effect Driving School Terms & Conditions. Basic informations, booking driving lessons, lesson cancellation policy and other additional information.')

block title
  title Premium Effect Driving School Terms & Conditions

block content

  section.terms#terms
    .content
      h2 Terms & Conditions
      article.terms__box
        h3.sub-heading Basic Information
        p
          i.icon-basic
          span Premium Effect Driving School operates within the area of Chorley and Preston and local areas. Pupils must be available for pick-up and drop-off at locations, agreed with the Instructor, within this area.

      article.terms__box
        h3.sub-heading Bookings
        p
          i.icon-calendar
          span All lessons must be paid l before or at the beginning of the lesson. 
        p
          i.icon-calendar
          span The dates and times of all lessons are subject to the Instructor’s availability.
        p
          i.icon-calendar
          span Any block booking has to ly paid at the beginning of the first lesson. Unfortunately we do not offer refund for block booking. If the purchase was a Block Bookings all lessons taken will be charged at the current hourly driving lesson rate, the remaining balance will be refunded.
        p
          i.icon-calendar
          span The Instructor has the right to withhold the use of the car for a practical driving test if they feel the pupil is not to the required standard.z

      article.terms__box
        h3.sub-heading Lesson Cancellation Policy & Additional Information
        p
          i.icon-cancel
          span We require 48 hours notice if you need to cancel or re-schedule your driving lesson, otherwise you will be charged the full driving lesson rate.
        p
          i.icon-cancel
          span Lessons that are booked with instructor, and the pupil doesn’t  arrive for the lesson within 15 minutes of the arranged time (without prior notice being given). Where this happens the Instructor will leave and the pupil will be charged the full driving lesson rate.
        p
          i.icon-cancel
          span If Instructor need to cancel or re-schedule driving lesson, will try to contact the pupil (using the contact details supplied by the pupil) giving as much notice as possible and offering an alternative date for that next lesson.
        p
          i.icon-cancel
          span All of our vehicles are well maintained and serviced regularly. In the unlikely event that a vehicle breaks down during a driving test or just before the test. The Premium effect school will not be held liable for the mechanical failure and loss of driving test fee.
