.car {
  line-height: 1.7;
  position: relative;
  background-image: linear-gradient( transparent, rgba($blue-vanadyl, .15));

  h2 {
    margin: 6rem auto 2rem;

    @include from(3) {
      margin-bottom: 4rem;
    }

    @include from(5) {
      margin-bottom: 5.5rem;
    }

    span {
      margin-right: .5rem;
    }
  }

  .content {
    @include container();
    text-align: left;
    color: $grey-dark;
    position: relative;
    margin-bottom: 1rem;
    

    & > div:not(:last-child) {
      
      @include from(3) {
        margin-bottom: 6rem;
      }
    }
  }

  &__service {
    
    @include from(3) {
      @include grid($flex-direction: row);
      margin-top: -2rem;
      
      &--manual {
        .car__car {
          order: 2;
          
        }
        .car__info {
          order: 1;
        }
      }
    }

    @include from(5) {
      margin-top: 1rem;
    }
  }
  
  &__car {
    text-align: center;
    @include grid-col($col: 100%);
    
    @include from(3) {
      @include grid-col($col: 60%);
    }

    &:last-child {
      text-align: right;
    }

    picture {
      height: auto;
      position: relative;
    }

    img, source {
      display: inline-block;
      width: 100%;
      height: auto;
      max-width: 16rem;
      
      @include from(3) {
        max-width: 37rem;
      }
    }

    img {
      box-shadow: -4px -4px 20px -6px rgba($color-secondary, .8),
                  4px 4px 20px -6px rgba($color-primary, 1);
    }
  }

  &__info {
    padding: .3rem;
    text-align: center;
    @include grid-col($col: 100%);
    
    @include from(3) {
      @include grid-col($col: 40%);
    }
    
    @include from(3) {
      padding: 1rem;
    }

    h3 {
      

      // @include from(3) {
      //   text-align: left;
      // }

      span:nth-child(2) {
        margin-left: .75rem;
      }
    }

    ul {
      padding: 1rem;
      margin-bottom: 2rem;
    }

    li:not(:last-child) {
      margin-bottom: 1rem;
      border-bottom: 1px solid $grey-medium;
    }

    i {
      font-size: 1.5rem;
      margin-right: .5rem;
      color: $blue-vanadyl;
    }

    .button__cta {
      font-weight: 500;
      background: $blue-vanadyl;
      color: white;
    }
  }
}