.car {
  line-height: 1.7;
  position: relative;
  // margin-bottom: 3rem;

  // @include from(3) {
  //   margin-bottom: 5rem;
  // }

  h2 {
    margin: 3rem auto;

    @include from(3) {
      margin-bottom: 4rem;
    }

    @include from(5) {
      margin-bottom: 5.5rem;
    }

    span {
      margin-right: .5rem;
    }
  }

  .content {
    @include container();
    text-align: left;
    color: $grey-dark;
    position: relative;
    margin-bottom: 1rem;

    & > div:not(:last-child) {
      border-bottom: 1px solid $grey-medium;
      margin-bottom: 3rem;
      
      @include from(3) {
        margin-bottom: 6rem;
      }
    }
  }

  &__service {
    // @include grid($flex-direction: column);
    margin-top: -4rem;
    
    @include from(3) {
      @include grid($flex-direction: row);
      margin-top: -2rem;
      
      &--manual {
        .car__car {
          order: 2;
          
        }
        .car__info {
          order: 1;
        }
      }
    }
  }
  
  &__car {
    text-align: center;
    @include grid-col($col: 100%);
    
    @include from(3) {
      @include grid-col($col: 40%);
    }

    &:last-child {
      text-align: right;
    }

    picture {
      height: auto;
      position: relative;
    }

    img, source {
      display: inline-block;
      width: 100%;
      height: auto;
      max-width: 16rem;
      
      @include from(3) {
        max-width: 27rem;
      }
    }
  }

  &__info {
    padding: .3rem;
    text-align: center;
    @include grid-col($col: 100%);
    
    @include from(3) {
      @include grid-col($col: 60%);
    }
    
    @include from(3) {
      padding: 1rem;
    }

    h3 {
      @extend .heading;
      padding: .75rem;
      display: inline-block;
      margin-bottom: .5rem;
      color: $grey-dark;
      border-bottom: 2px solid $color-primary;
      background-color: $color-primary;
      color: $red;
      background-image: -webkit-gradient(linear,0% 30%,70% 100%,from($color-secondary),to($color-primary));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: skew(0, -3deg);

      @include from(3) {
        text-align: left;
      }

      span:nth-child(2) {
        margin-left: .75rem;
      }
    }

    ul {
      padding: 1rem;
      margin-bottom: 2rem;
    }

    li:not(:last-child) {
      margin-bottom: 1rem;
      border-bottom: 1px solid $grey-medium;
    }

    i {
      font-size: 1.5rem;
      margin-right: .5rem;
      color: $blue-vanadyl;
    }

    .button__cta {
      font-weight: 500;
      // padding: .25rem;
      background: $blue-vanadyl;
      // background-image: $blue-linear-gradient;
      color: white;
      // float: right;
    }
  }
}