@font-face {
    font-family: 'panama';
    src: url('/fonts/panama-bold-webfont.woff2') format('woff2'),
         url('/fonts/panama-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  // font-size:10px;
}

body {
  font-size:1.5rem;
  color:$black;
}

h1, h2, h3, h4, h5, h6 {
  // font-size: 5rem;
  font-family: 'Panama';
  font-weight: 600;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color:$black;
}

p a {
  // border-bottom: 2px solid $yellow;
}

p {
  line-height: 2;
  font-size: 1.4rem;
}

h1 {
  font-size: 2rem;
  display: block;
  
  @include from(2) {
    font-size: 2.3rem;
  }
  @include from(4) {
    font-size: 2.8rem;
  }
}

.content > h2 {
  margin: 4rem auto;
  font-size: 1.7rem;
  text-align: center;
  
  @include from(3) {
    margin: 6rem auto 4rem;
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  @include from(5) {
    font-size: 2.5rem;
    margin-bottom: 5.5rem;
  }

  span {
    margin-right: .5rem;
  }
}

h3 {
  font-size: 1.4rem;

  @include from(2) {
    font-size: 1.4rem;
  }
  @include from(4) {
    font-size: 1.7rem;
  }
}

.heading {
  color: $color-secondary;
  // white-space: normal; 
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  position: relative;
  z-index: 2;
  margin:0;
  margin-top: 2rem;
  z-index: 2;
  line-height:1.1;
}

h3.sub-heading {
  @extend .heading;
  padding: .75rem;
  display: inline-block;
  margin-bottom: .5rem;
  color: $grey-dark;
  border-bottom: 2px solid $color-primary;
  background-color: $color-primary;
  color: $red;
  background-image: -webkit-gradient(linear,0% 30%,70% 100%,from($color-secondary),to($color-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: skew(0, -3deg);
}
